* {
  font-family: Arial, Helvetica, sans-serif;
}

.center-card-register {
  margin: 100px 50px 100px 400px;
  width: 42%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 5px 0 22px 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
  width: 90%;
  padding: 10px;
  margin: 5px 0 22px 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.registerbtn {
  background-color: dodgerblue;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 10;
}

.center-card-login {
  margin: 100px 50px 100px 400px;
  width: 42%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.loginbtn {
  background-color: dodgerblue;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 10;
}



/*home.html page design*/
.homebody {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topbar {
  width: 100%;
  background: dodgerblue;
  height: 50px;
  display: flex;
  border: darkslateblue 1px solid;
}

.topbar > div {
  margin: 5px;
  font-size: 20px;
}

/* .logout {
  background-color: darkblue;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
  
} */
.logout {
  background-color: darkblue; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* .logout:hover {
  opacity: 10;
} */

.logout {
  background-color: white; 
  color: black; 
  border: 2px solid darkblue;
  border-radius: 10%;
}

.logout:hover {
  background-color: darkblue;
  color: white;
}

.MainPart {
  width: 100%;
  height: 530px;
  display: flex;
}


.LeftPart{
  width: 300px;
  height: 530px;
  
}

.MiddlePart{
  width: 850px;
  height: 530px;
  
  padding: 20px;
}

.RightPart{
  width: 250px;
  height: 530px;
  
}

.footer{
  width: 100%;
  background: darkcyan;
  height: 45px;
}


.weather-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding:20px;
  font-size: large;
  text-align: center;
}

.weather-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.addbtn{
  background-color: dodgerblue;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.addbtn:hover {
  opacity: 10;
}

.dltbtn{
  background-color: red;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.dltbtn:hover {
  opacity: 10;
}

.combtn{
  background-color: green;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.combtn:hover {
  opacity: 10;
}

table{
  margin:10px;
  
}

tr{
  padding:10px;
}

td{
  padding:10px;
}

.profile{
  background-color: green;
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
  border-radius: 100%;
}

.profile:hover {
  opacity: 10;
}


.updatebtn {
  background-color: dodgerblue;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

.updatebtn:hover {
  opacity: 10;
}


.container_updateprofile{
  margin: 100px 50px 100px 400px;
  width: 42%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
